<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ToDo アプリ</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div class="container mt-4">
            <h1>ToDoアプリ</h1>
            <div id="app">
                <!--大枠のborder-->
                <div class="border p-3">
                    <div class="new-todo">
                        <div class="new-todo-item row mb-3">
                            <div class="col-auto">
                                <label for="new-todo-title" class="form-label">タイトル</label>
                            </div>
                            <div class="col">
                                <input
                                v-model.trim="todoTitle"
                                type="text"
                                id="new-todo-title"
                                class="form-control"
                                >
                            </div>
                        </div>
                        <div class="new-todo-item row mb-3">
                            <div class="col-auto">
                                <label for="new-todo-description" class="form-label">説明</label>
                            </div>
                            <div class="col">
                                <textarea 
                                v-model.trim="todoDescription"
                                id="new-todo-description"
                                class="form-control"
                                ></textarea>
                            </div>
                        </div>
                        <!--内側の枠-->
                        <div class="border p-3 bg-light">
                            <div class="new-todo-category">
                                <label for="new-todo-category" class="form-label">カテゴリ</label>
                                <ul>
                                    <li v-for="category in categories" :key="category">
                                        <label :for="'category-' + category">
                                            <input v-model="todoCategories" type="checkbox" :id="'category-' + category" 
                                        :value="category" form="form-todo">
                                        </label>
                                    </li>
                                </ul>
                                <form @submit.prevent="createCategory" class="d-flex">
                                    <div class="row">
                                        <div class="col-auto">
                                            <input 
                                            v-model.trim="categoryName"
                                            type="text"
                                            id="new-todo-category"
                                            class="form-control me-2"
                                            >
                                        </div>
                                        <p></p>
                                        <div class="col">
                                            <button type="submit" :disable="!canCreateCategory" class="btn btn-secondary">作成</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!--内側の枠のborderはここまで-->
                        <p>
                        <div class="new-todoaction text-center mb-3">
                            <!--@submitはv-on:submitの省略形-->
                            <!--.preventはevent.preventDefault()を自動的に実行-->
                            <form id="form-todo" @submit.prevent="createTodo" class="form-label">
                                <button type="submit" :disable="!canCreateTodo" class="btn btn-secondary">作成</button>
                            </form>
                        </div>
                    </div>
                </div> <!--大枠はのborder対象はここまで-->
                <p></p>
                <div class="todo-search">
                    <label for="todo-search-category">カテゴリでフィルタ</label>
                    <select v-model="selectedCategory" id="todo-search-category">
                        <option value="">指定なし</option>
                        <option v-for="category in categories" :key="category" :value="category">
                            {{ category }}</option>
                    </select>
                    <div class="row">
                        <div class="col-auto">
                            <div class="todo-search-item">
                                <label for="todo-search-done">終了したものを非表示にする
                                <input 
                                v-model="hideDoneToDo"
                                type="checkbox"
                                id="todo-search-done"
                                ></label>
                            </div>
                        </div>
                        <!--区切り線 col-autoが無いと太く？いくつも並べて？表示される-->
                        <div class="col-auto"> 
                            <div class="vr"></div>
                        </div>
                        <div class="col-auto"> 
                            <div class="todo-search-item">
                                <select v-model="order">
                                    <option value="desc">降順</option>
                                    <option value="asc">昇順</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto"> 
                            <div class="vr"></div>
                        </div>
                        <div class="col-auto">
                            <label for="todo-search-keyword" class="form-label">キーワードで検索</label>
                        </div>
                        <div class="col-auto">
                            <input v-model="searchWord" type="text" id="todo-search-keyword" class="form-control">
                        </div>
                    </div>
                </div>
                <ul v-if="hasToDo" class="todo-list">
                    <li v-for="(todo, index) in resultTodos" :key="todo-id" class="todo-item">
                        <div class="todo-item-done">
                            <input v-model="todo.done" type="checkbox">
                        </div>
                        <div class="todo-item-content">
                            <div class="todo-item-date">{{ new Date(todo.dateTime).toString() }}</div>
                            <h3 class="todo-item-title">{{ todo.title }}</h3>
                            <div v-if="todo.description" class="todo-item-discription">{{ todo.discription}}</div>
                            <ul class="todo-item-categories" v-if="todo.categories.length > 0">
                                <li v-for="category in todo.categories" :key="category" class="todo-item-category">
                                    {{ category }}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p v-else>ToDoタスクはまだ登録されていません</p>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
